<ul class="article__list">
{%- for article in articles | reverse -%}
  <li class="article__item">
    <article class="article__preview">
      <h2><a href="{{ article.url | url }}">{{ article.data.title }}</a></h2>
      
      {# Fallback: checks for excerpt, then description, then summary #}
      <p>{{ article.data.excerpt or article.data.description or article.data.summary }}</p>
      
      <small>
        <time class="article__date">{{ article.data.date | readableDate }}</time>
        {%- if article.data.category -%}
        <div class="article__tags">
          {%- for cat in article.data.category -%}
            <a class="category" href="/blog/{{ cat | slugify }}">{{ cat }}</a>
          {%- endfor -%}
        </div>
        {%- endif -%}
      </small>
    </article>
  </li>
{%- endfor -%}
</ul>