{% set categories = collections.categoryList %}

<nav class="blog-filter" role="navigation" aria-label="category navigation">
  <span class="blog-filter__label">Filter posts by category:</span>
  
  <ul class="blog-filter__list">
    {# "All" Link #}
    <li class="blog-filter__item">
      <a class="blog-filter__link {{ ' is-active' if page.url == '/blog/' }}" 
         href="/blog/"
         {{ 'aria-current="page"' if page.url == "/blog/" }}>
         all
      </a>
    </li>

    {# Individual Categories #}
    {%- for category in categories %}
      {% set catUrl = ["/blog/", category.key, "/" ] | join %}
      <li class="blog-filter__item">
        <a class="blog-filter__link {{ ' is-active' if page.url == catUrl }}" 
           href="{{ catUrl }}"
           {{ 'aria-current="page"' if page.url == catUrl }}>
           {{ category.key }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>