<footer role="contentinfo">
  <p>This blog was built using <a href="https://www.11ty.dev/" target="_blank">Eleventy</a> Follow me on 
    <a class="social-media__link"
      href="https://x.com/moeed"
      target="_blank">
      {% icon "custom:twitter", class="icon" %}

      <span class="sr-only">Twitter</span>
    </a>
  </p>
</footer>