{% set navItems = collections.all | eleventyNavigation %}
<header class="site-header" role="banner">
  <div class="logo">
    <a href="/">Moeed Ahmad</a>
  </div>
  
  <nav class="site-nav" role="navigation" aria-label="main navigation">
    <ul class="site-nav__list">
      {%- for item in navItems %}
        <li class="site-nav__item">
          <a href="{{ item.url }}" 
             class="site-nav__link {{ 'active' if page.url === item.url }}"
             {% if page.url === item.url %}aria-current="page"{% endif %}>
            {{ item.key }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>