<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-786ZWBN1EQ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-786ZWBN1EQ');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
    <title>{{ title or metadata.title }}</title>
    {% include "../components/metadata.njk" %}
    <script type="module" src="/assets/svg-icon-sprite.js"></script>
    <link rel="stylesheet" href="{{'/assets/theme.css' | url }}" />
  </head>

  <body>
    {% include "../components/header.njk" %}
    <main role="main">
      {{ content | safe }}
    </main>
    {% include "../components/footer.njk" %}
  </body>
</html>