---
layout: page
title: "Blog"
eleventyNavigation:
    key: blog
    order: 2
pagination:
  # Order matches collections.blog: newest first by date (config/collections.js).
  data: collections.blog
  size: 10
  alias: articles
---

<h1>{{ title }}</h1>
{% include "./_includes/components/categoryNav.njk" %}
<p>This view contains a list of all blogposts sorted from newest to oldest.</p>

{% include "./_includes/components/articleList.njk" %}