---
layout: page
eleventyNavigation:
  key: home
  order: 1
---

<section class="hero">
  <h1>Pivoting to Video<br /><span class="highlight">Since Before it Was a Threat</span></h1>
  
  <div class="hero__profile">
    <div class="hero__avatar">
      <img src="/assets/images/moeed-dark.jpg" alt="Moeed Ahmad">
    </div>
    <h2 class="hero__blog-title">Blog</h2>
  </div>
</section>

<div class="blog-grid-container">

  {# This is the decorative element #}
  <div class="blog-decoration-motif"></div>

  {# We pull your blog posts from the 'blog' collection #}
  {% set articles = collections.blog %}
  {% include "components/articleList.njk" %}
</div>